html {
    max-width: 2000px;
}

#Menu {
    font-size: 15px;
    width: 200px;
    height: 70px;
    text-align: center;
    background-color: #CCCCCC;
    margin-top: -15px;
    float: left;

}

#Logo {
    width: 200px;
    height: 150px;

}

body {
    font-style: normal;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    overflow-y: scroll;
    text-shadow: -1px -1px 0.5px rgb(255, 255, 255), 1px 1px 0.5px rgb(255, 255, 255), -1px 1px 0.5px rgb(255, 255, 255), 1px -1px 0.5px rgb(255, 255, 255);
}

#Encabezado {

    position: static;
}

header {
    background-color: #ca7702;
}

#Contacto {
    margin-top: -120px;
    text-align: right;
    margin-bottom: 20px;
    margin-right: 10px;
}

.Bottones {
    padding: 15px 95px;
    text-align: center;
    font-size: 12px;
    margin-left: 3px;
    border-radius: 10px;
    margin-bottom: 3px;
}

#HomeBody {
    background-image: url("Imagenes/img7.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 100%;

}

#TecnolBody {
    background-image: url("Imagenes/img1.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 100%;

}

#RecupCapBody {
    background-image: url("Imagenes/img5.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#TratamientoBody {
    background-image: url("Imagenes/fondoTratamiento.jpg");
    background-size: 100% 100%;
}

#EvoBody {
    background-image: url("Imagenes/img2.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#CalendarioBody {
    background-image: url("Imagenes/img6.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

footer {
    left: 0;
    bottom: 0;
    height: 10%;
    width: 100%;
    background-color: #ca7702;
    text-align: center;
    padding: 1em;

}

a:link, a:visited {
    color: black;

}

a:active {
    font-weight: bold;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.slider {
    float: right;
    width: 30%;
    margin: auto;
    overflow: hidden;
}

.slider ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: cambio 20s infinite alternate;
}

.slider li {
    width: 100%;
    height: 550px;
    list-style: none;
}

.slider img {
    width: 100%;
}

@keyframes cambio {
    0% {
        margin-left: 0
    }
    20% {
        margin-left: 0
    }
    25% {
        margin-left: -100%
    }
    45% {
        margin-left: -100%
    }
    50% {
        margin-left: -200%
    }
    70% {
        margin-left: -200%
    }
    75% {
        margin-left: -300%
    }
    100% {
        margin-left: -300%
    }

}

h1 {
    text-decoration: underline;
}

h4 {
    color: #ca7702;
}

input[type=number] {
    -moz-appearance: textfield;
}

.imHome {
    position: relative;
    width: 20%;
    height: 20%;
}

#frente {
    width: 20%;
    height: 20%;
    margin-right: 50%;
    margin-left: 3%;
}

#caracDif {
    text-align: center;
}

.imRecup {
    position: relative;
}

.sliderRecup {
    float: right;
    width: 20%;
    margin: auto;
    overflow: hidden;
}

.sliderRecup ul {
    display: flex;
    padding: 0;
    width: 300%;
    animation: cambio 20s infinite alternate;
}

.sliderRecup li {
    width: 100%;
    height: 550px;
    list-style: none;
}

.sliderRecup img {
    width: 100%;
}

.imTecnol {
    height: 20%;
}