html{
    max-width: 2000px;
}
#Menu{
    font-size: 15px;
    width: 200px;
    height: 70px;
    text-align: center;
    background-color:#CCCCCC;
    margin-top: -15px;
    float: left;

}
#Logo{
    width: 200px;
    height: 150px;
    
}
body{
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    overflow-y: scroll; 
}
#Encabezado{

    position: static;
}
header{
        background-color:#ca7702;
}
#Contacto{
    margin-top:-120px;
    text-align: right;
    margin-bottom: 20px;
    margin-right: 10px;
} 
.Bottones{
    padding: 15px 95px;
    text-align: center;
    font-size: 12px;
    margin-left: 3px;
    border-radius: 10px;    
    margin-bottom: 3px;
}
#HomeBody{
    background-image: url("Imagenes/img7.jpeg");
    background-repeat: no-repeat;
    background-size:  2000px 820px;
    
}
#TecnolBody{
    background-image: url("Imagenes/img1.jpeg") ;
    background-repeat: no-repeat;
    background-size:  2000px 820px;
    
}
#RecupCapBody{
    background-image: url("Imagenes/img5.jpeg") ;
    background-repeat: no-repeat;
    background-size:  2000px 820px;
}
#TratamientoBody{
    background-image: url("Imagenes/img8.jpeg") ;
    background-repeat: no-repeat;
    background-size:  2000px 820px;
}
#EvoBody{
    background-image: url("Imagenes/img2.jpeg") ;
    background-repeat: no-repeat;
    background-size:  2000px 820px;
}
footer{
        position: static;
        left: 0;
        bottom: 0;
        height: 110px;
        width: 100%;
        background-color:#ca7702;
        text-align: center;
        padding:1em ;
}
a:link, a:visited{
    color:black;

}
a:active{
    font-weight: bold;
}